node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Uploads gerados em execução
uploads/recipes/generated/*
!uploads/recipes/generated/.gitkeep

uploads/avatars/generated/*
!uploads/avatars/generated/.gitkeep

# Arquivos temporários
uploads/tmp/*
!uploads/tmp/.gitkeep